<a href="https://colab.research.google.com/github/fatimazain118/Python/blob/main/tut74_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

list comprehensions

In [3]:
ls =[]

for i in range(31):
  if i%3 ==0:
    ls.append(i)

print(ls)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
ls = [i for i in range(31) if i%3 == 0 ]
print(ls)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Dictionary Comprehension

In [8]:
dict1 = {i:f"item{i}" for i in range(31) if i%10 ==0}
print(dict1)

{0: 'item0', 10: 'item10', 20: 'item20', 30: 'item30'}

In [10]:
dict = {i: f"Item{i}" for i in range(5)}
dict = {value:key for key,value in dict.items()}    #reverse the pair
print(dict)

{'Item0': 0, 'Item1': 1, 'Item2': 2, 'Item3': 3, 'Item4': 4}

Set Comprehension

In [11]:
dresses = {dress for dress in ["dress1", "dress2", "dress1", "dress2"]}  #in set obj dont repeat
print(dresses)

{'dress1', 'dress2'}

In [12]:
print(type(dresses))

<class 'set'>

In [13]:
dresses = [dress for dress in ["dress1", "dress2", "dress1", "dress2"]]  #in square bracket as a list pass kia hai
print(dresses)

['dress1', 'dress2', 'dress1', 'dress2']

In [14]:
print(type(dresses))       #object introspection

<class 'list'>

Generator Comprehension

In [17]:
evens = (i for i in range(11) if i%2 ==0)
print(evens) #generators are special iterators which can be access once to get no. use next method

<generator object <genexpr> at 0x7fafd0c6cc50>

In [20]:
print(evens.__next__())   #to access all element we can use for loop
print(evens.__next__())

2
4

In [21]:
for item in evens:
  print(item)

6
8
10